.navigationHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    position: fixed;
    background-color: white;
    width: 100%;
    border-bottom: 10px solid #a2ada3;
    z-index: 1;
}

.navigationHeader > div {
    align-self: center;
}

.navigationLink {
    margin: 0 10px;
    color: inherit;
    cursor: pointer;
}

.navigationLink:hover {
    text-decoration: none;
}